<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.css" rel="stylesheet" />
		<style>
			html,body{width:100%;height:100%}
			body{margin:0;padding:0;}
			#bdmap{width:100%;height:100%}
		</style>
	</head>

	<body>
		<div id="bdmap"></div>
		<script src="../js/mui.js"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=opGm4QVHYEXpPbK3tuKjKIEQaEYNAa89"></script>
		<script type="text/javascript">
			// AK: opGm4QVHYEXpPbK3tuKjKIEQaEYNAa89
			mui.init();
			
			mui.plusReady(function () {
			    // plus.geolocation.getCurrentPosition(successCB, errorCB, option);
				plus.geolocation.getCurrentPosition((position)=>{
					console.log('plus:',position);
					
					let {coords} = position;
					let {longitude,latitude} = coords
					
					// 坐标转换
					 var convertor = new BMap.Convertor();
					var pointArr = [];
					let ggPoint = new BMap.Point(longitude,latitude)
					pointArr.push(ggPoint);
					convertor.translate(pointArr, 1, 5, function (data){
					  if(data.status === 0) {
						var marker = new BMap.Marker(data.points[0]);
						map.addOverlay(marker);
						var label = new BMap.Label("转换后的百度坐标（正确）",{offset:new BMap.Size(5,-2)});
						marker.setLabel(label); //添加百度label
						map.setCenter(data.points[0]);
					  }
					})
					
					// 使用百度地图
					var map = new BMap.Map("bdmap");    // 创建Map实例
					
					// 缩放级别:最大19
					// map.centerAndZoom("广州",19);
					map.centerAndZoom(ggPoint, 17);  // 初始化地图,设置中心点坐标和地图级别
					
					// 鼠标滚轮缩放
					map.enableScrollWheelZoom(true);
					
					// 拖拽
					 map.enableDragging();
					 
					 // 构造全景视图
					 var stCtrl = new BMap.PanoramaControl(); //构造全景控件
					stCtrl.setOffset(new BMap.Size(20, 20));
					map.addControl(stCtrl);//添加全景控件
				}, (err)=>{
					console.log('err:',err)
				});
				
				// 监听位置变化
				// plus.geolocation.watchPosition((position)=>{
				// 	console.log('watchPosition')
				// }, (err)=>{
				// 	console.log('err:',err)
				// });
			})
			
			// HTML5新特性:Geolocation
			// if(navigator.geolocation){
			// 	console.log('geolocation')
			// 	navigator.geolocation.getCurrentPosition((position)=>{
			// 		console.log('HTML5:',position);
			// 	},(err)=>{
			// 		console.log('error',err)
			// 	},{
			// 		timeout:3000
			// 	});
			// 
			// }else{
			// 	console.log('不支持')
			// }
		</script>
	</body>

</html>
